{% extends "layout.html" %}

{% block content %}


<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Temperature</th>
            <th scope="col">Humidity</th>
            <th scope="col">Datetime</th>
            <th scope="col">Check</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td> {{row["id"]}}</td>
            <td> {{row["temperature"]}}</td>
            <td> {{ row["humidity"]}}</td>
            <td> {{ row["datetime"]}}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>



{% endblock %}
